@define-color bg              #1c1c1c;
@define-color fg              #dfdfdf;
@define-color inactive        #353535;
@define-color red             #865054;
@define-color green           #5f705f;
@define-color yellow          #8c8260;
@define-color blue            #5f708c;
@define-color magenta         #75607a;
@define-color cyan            #5f7a7a;
@define-color bright-bg       #252525;
@define-color bright-red      #976061;
@define-color bright-green    #729472;
@define-color bright-yellow   #a4926b;
@define-color bright-blue     #7294a4;
@define-color bright-magenta  #9272a4;
@define-color bright-cyan     #72a4a4;
@define-color bright-fg       #f1f1f1;
